<div class="mb-4 flex flex-col gap-1.5">
    <label [for]="field().name" class="text-sm font-semibold text-surface-700 dark:text-surface-300">{{
        field().label
    }}</label>
    <p-datepicker
        [inputId]="field().name"
        selectionMode="range"
        [readonlyInput]="true"
        [formControl]="control()"
        styleClass="w-full"
    />
    @if (control().invalid && control().touched) {
        <span class="text-[13px] text-red-600 dark:text-red-400">
            @for (error of control().errors | keyvalue; track error.key) {
                {{ error.value }}
            }
        </span>
    }
</div>
