<nav
    class="fixed lg:static inset-y-0 lg:inset-auto left-0 top-14 lg:top-0 z-20 lg:z-auto w-64 lg:w-60 -translate-x-full lg:translate-x-0 transition-transform duration-200 border-r border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900"
    [class.translate-x-0]="shellState.mobileSidebarOpen()"
>
    <ul class="flex flex-col gap-1 p-3">
        @for (item of navItems; track item.label) {
        <li>
            <app-nav-item [item]="item" [root]="true" />
        </li>
        }
    </ul>
</nav>

@if (shellState.mobileSidebarOpen()) {
<div class="fixed inset-0 top-14 z-10 bg-surface-900/40 lg:hidden" (click)="shellState.closeMobileSidebar()"></div>
}
