<div class="flex align-items-center justify-content-start">
    <p-fieldset legend="Login">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col" data-testid="login-form">
            <div class="card flex flex-col gap-4">
                <div class="flex flex-col gap-2">
                    <label for="email">Email: </label>
                    <input id="email" type="email" pInputText formControlName="email" autocomplete="username" data-testid="login-email-input" />
                </div>
                <div class="flex flex-col gap-2">
                    <label for="password">Password: </label>
                    <p-iconfield>
                        <input pInputPassword inputId="password" id="password" formControlName="password" autocomplete="current-password" [(mask)]="mask" placeholder="Password" data-testid="login-password-input" />
                        <p-inputicon (click)="mask = !mask" (keydown.enter)="mask = !mask" tabindex="0" role="button" [attr.aria-label]="mask ? 'Show password' : 'Hide password'" style="cursor: pointer" data-testid="login-password-toggle">
                            @if (mask) {
                                <svg data-p-icon="eye"></svg>
                            } @else {
                                <svg data-p-icon="eye-slash"></svg>
                            }
                        </p-inputicon>
                    </p-iconfield>
                </div>
                <div class="flex flex-col gap-2">
                    <button pButton type="submit" [disabled]="form.invalid" data-testid="login-submit-button">Login</button>
                </div>
            </div>
        </form>
    </p-fieldset>
</div>
